*{
  font-size:16px;
}
.container{
  width:100%;
  display:block;
  padding:0;
}
.section-one{
  background-image:url(landscape-1280.jpg);
  width:100%;
  height:580px;
}

.row{
  padding:100px;

}
.nav-bar.leftbar{
  border-top-left-radius:15px;
  border-bottom-left-radius: 15px;
}

.nav-bar.rightbar{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-bar-sectionlink{
  text-decoration: none;
  color:#dae2ec;
  font-size:22px;

}

.nav-bar{
  display:inline-block;
  margin:0;
  font-family:'belligerent madness';
  text-align: center;
  color:#DAE2EC;
  padding:0 40px;
  font-size:22px;
  font-weight:200;
  background-color:#3f3c28;
}
.nav-bar-sectionlink:hover{
  text-decoration: none;
  color:orange;
}

.row{
  padding:60px;
}


.welcome {
  font-size:65px;
  text-align:center;
  color:#1D2222;
  font-weight:700;
  font-family:'belligerent madness';
  text-shadow:1px 5px 2px black:
  padding:0;
  margin:0;
}

.welcome.motto{
  font-size:25px;
  margin:0;
  padding:0;
}

.section-two{
  width:100%;
  float:left;
  margin:0;
  padding:0;
}

.pttd{
  text-align:center;
  font-size:30px;
  font-family:'belligerent madness';
  color:#1D2222;
  padding:15px 0 15px 0;
  margin-top:20px;
}

.activities{
  margin:0;
  float:left;
  padding:0;

}
.activities img{
  max-width:100%;
  height:auto;
}

.piclink{
  padding:0;
  margin:0;
  color:#1D2222;

}
/*.piclink:hover{
  opacity:1;
  color:#1D2222;
}*/

.piclink h1{
  position:absolute;
  color:#dae2ec;
  width:100%;
  height:100%;
  padding: 160px 0 0 0;
  text-align: center;
  opacity:0;
  font-family:'belligerent madness';
}

.piclink h1:hover{
  position:absolute;
  color:#dae2ec;
  width:100%;
  height:100%;
  text-align: center;
  opacity:1;
}
.profilepicture{
  border-radius:1000px;
  border:3px solid #3f3c28;
  width:100%;
  display:inline-block;
}
.profile p{
  padding:0 10px 0 10px;
  font-size:14px;
}

.profile .myname{
  text-align:center;
  font-size:28px;
  color:#3f3c28;
  font-weight:bold;
}

.travelpackage{
  padding:20px;
  border-radius:15px;
  color:#3f3c28;
}
.travelpackage h2{
  font-size:24px;
  font-weight:700;
  color:#3f3c28;
}
.travelpackage p{
  font-weight: 500;
  color:#3f3c28;
}

.section-four{
  background-color:#3f3c28;
  height:100px;
  color:white;
  text-align:center;
  font-size:bold;
}


.section-four p{
  margin:0;
  padding:0;


}
.socialtags{
  font-size:28px;
  padding:0 20px 0 20px;
  margin:0;
  color:#1560fb;
  text-decoration: none;
  font-weight:bolder;
}

.socialtags:hover{
  color:white;
  text-decoration:none;

}





/*---------MEDIA INFO BELOW* ---------*/

@media (max-width: 980px){

  .nav-bar{
    padding:0 20px;
    font-size: 16px;
  }
  .profilepicture{
    width:80%;
  }
}

@media (max-width: 910px){
  .welcome{
    color:#dae2ec;
}

.piclink h1{
  opacity:1;
}

  .profilepicture{
    width:70%;
  }


@media (max-width: 768px){

  .welcome{
    font-size:40px;
  }

  .row{
    padding:20px;
  }

  .section-one{
    background-size:auto;
    background-repeat: no-repeat;

  }
  .nav-bar{
    display:block;
    width:100%;
    margin:5px;
  }

  .nav-bar.leftbar{
    border-radius:0;
  }

  .nav-bar.rightbar{
    border-radius:0;
  }

  .profilepicture{
    width:50%;

  }
  .travelpackage{
    text-align:center;
}

@media (max-width:425px){

  .piclink h1{
    padding:96px;
  }

  .profilepicture{
    width:50%;
  }


}

@media (max-width:375px){
  .pttd{
    font-size:24px;
  }
  .piclink h1{
    padding:60px;
  }
  .profilepicture{
    width:50%;
  }
}
